# Don't accidently add the compiled program
vodka

# Features usedas templates for other POSIX shells
features/**/*_bash.feature
features/**/*_sh.feature

# Object files
*.o
*.out

# Aruba uses a tmp directory
tmp
